<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Strona główna</title>

</head>

<body>
    <input type="text" class="search-panel">
    <div>
        <ul>
            {{#each users}}
            <li class='list-item'><span>{{this.Name}}</span> s.<a href="#">{{this.Room}}</a> <a href="#">Więcej</a></li>
            {{/each}}
        </ul>
    </div>

    <script>
        const searchPanel = document.querySelector('.search-panel');
        const ul = document.querySelector('ul');
        let users = document.getElementsByClassName('list-item');
        users = [...users];
        
        searchPanel.addEventListener('input',(e)=>{
            let name = e.target.value.toLowerCase();
            let filterdUsers = users.filter(li => li.textContent.toLowerCase().includes(name));
            ul.textContent = "";
            filterdUsers.forEach(li => ul.appendChild(li));
        })
    </script>
</body>

</html>